
/*custom classes*/

.main {
    height: 100vh;
}

.game {
    width: 50%;
    height: 75%;
    min-width: 450px;
    border-radius: 20px;
    border: 2px solid #9E9E9E;;
    margin: 50px auto;
    box-shadow: 8px 10px 0px 10px black;
    background: radial-gradient(#ffffff80, #00000040);
}

/*up-section*/

.up-section {
    align-items: center;
    justify-content: space-around;
}

.game .name-of-game {
    color: #efefef;
    display: block;
    text-shadow: 2px 1px 2px #020202;
    font-weight: bold;
    text-align: center;
}

/*choose board color*/

.up-section .d-flex.column {
    padding: 5px;
    flex-grow: 0;
    margin: 5px 15px;
    /*flex: initial;*/
}

.up-section div span {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px white, -1px -1px 3px azure;
}

.color-radio[id = "purple"]:checked ~ .game {
    background-color: purple;
}

.color-radio[id = "gray"]:checked ~ .game {
    background-color: gray;
}

.color-radio[id = "black"]:checked ~ .game {
    background-color: black;
}

.color-radio[id = "white"]:checked ~ .game {
    background-color: white;
}

.color-radio[id = "red"]:checked ~ .game {
    background-color: red;
}

.inputs-group {
    margin: 3%;
}

.inputs-group label {
    width: 20px;
    height: 18px;
    border: 1px solid #333;
    display: flex;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 100%;
}

label[for="purple"] {
    background-color: purple;
}

label[for="gray"] {
    background-color: gray;
}

label[for="black"] {
    background-color: black;
}

label[for="white"] {
    background-color: white;
}

label[for="red"] {
    background-color: red;
}

/*display*/

.display {
    width: 90%;
    height: 60%;
    margin: 5% auto;
    background-color: #9e9898;
    border-radius: 5px;
    border: 10px solid #00000080;
}

/*display-off*/

.display-off {
    background: linear-gradient(to top left, rgba(0,0,0,0.7), rgba(0, 0, 0, 0));
    position: absolute;
}

.display-on {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0,0,0,0.7));
}

.display-play {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.power {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 25px 0;
}


/*loader*/

.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ffffff8f;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.absolute-center .spinner {animation: loadingI 2s linear infinite;}
.absolute-center .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.absolute-center .bubble-2 {animation-delay: -1.0s;}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
    0%, 100% {transform: scale(0.0);}
    50% {transform: scale(1.0);}
}


/*game-zone*/

.game-zone {
    /*height: 80%;*/
}

/*progress-bar*/

.indicators {
    color: white;
    font-size: 0.9rem;
    align-items: center;
    /*flex-basis: auto;*/
}

.down-line {
    justify-content: space-around;
    width: 75%;
}

.progress-wrap {
    display: flex;
    width: 100px;
    margin: 2px;
    border: 1px solid;
}

.progress {
    /*width: 100%;*/
    max-width: 100%;
    background: green;
    text-align: center;
    padding: 0 0 5px 5px;
}

.progress.attention {
    background: orange;
    color: #5e595d;
}

.progress.alarm {
    background: red;
    color: #252525;
}

.info-display {
    color: whitesmoke;
    text-align: center;
    height: 50px;
    font-size: 1.5rem;
}


/*game-over*/

/*.game-over .dead {*/
    /*display: flex;*/
/*}*/

.dead {
    width: 100%;
    height: 100%;
    background: black;
    color: #ffffff;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}




/*check-animal*/

.check-animal {
    justify-content: space-around;
    text-align: center;
    color: #ffffff;

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/

    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */

}

@keyframes show{
    0%{
        opacity:0;
    }


    100% {
        opacity:1;
    }
}

.check-animal > span {
    font-size: 1.5rem;
}

.check-animal span[id='type_text'] {
    text-align: center;
    width: 100%;
    height: 75px;
}

.choice {
    justify-content: space-between;
    height: 75%;
    text-align: center;
}

.choice label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.circle i {
    color: #000000;
    display: none;
}

.choice img {
    width: 100%;
    height: 100%;
}

.start {
    width: 70px;
    padding: 5px;
    margin: 5px auto;
}

.popup-wrapper {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 11;
}

.popup {
    min-width: 300px;
    min-height: 150px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #dcdcdc;
    box-shadow: 0px 0px 10px 2px #a0a0a0;
    color: white;
    text-shadow: 1px 1px black;
    /*white-space: nowrap;*/
}

.btns-conf {
    justify-content: space-around;
}


/*nameSelection*/

.name-selection {
    width: 50%;
    margin: 0 auto;
    min-height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
}

/*button-place*/

.button-place {

}

/*btn-group*/

.btn-group {
    margin: 10px;
}

.fun, .sad {
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.fa-smile, .fa-frown {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #00000080, -1px -1px 2px #00000080;
}

.fa-smile {
    color: yellow;
}

.fa-frown {
    color: green;
}






